<header>
    <nav class="menu">
        <a href="/">
            <img src="/img/logo.png" alt="Trafico Logo">
        </a>
        <a href="#about">About</a>
        <a href="#howTo">Hot To</a>
        <a href="#faq">Faqs</a>
        <a href="#contact">
        <button type="button">Contact Us</button>
        </a>
    </nav>
</header>